@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'GetSchwifty';
  src: url('./assets/fonts/GetSchwifty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b; 
}

::-webkit-scrollbar-thumb {
  background-color: #757073; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #757475; 
}
